<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home | Resume Template</title>
</head>
<body>
	<main>
		<section class="home">
			<div class="download">
				<a id="" class="download__btn" href="#">INDD</a>
				<a id="" class="download__btn" href="#">PAGES</a>
				<a id="" class="download__btn" href="#">DOCX</a>
			</div>
			<div class="container">
				<div class="content">
					<div class="content__left">
						<span class="content__left-line--h"></span>
						<div class="content__left-row">
							<div class="intro">
								<h3 class="intro__subheading">Front End Developer</h3>
								<h1 class="intro__heading">Hello, I'm Harun</h1>
								<p>A hard worker, has a determination and a strong desire to learn new knowledge to be able excel in everything he does. Able to work well in a team and have good communication with colleagues or superiors.</p>
							</div>
						</div>
						<div class="spacer spacer--huge"></div>
						<div class="content__left-row">
							<div class="exp">
								<h3 class="exp__heading">Experience</h3>								
								<div class="exp__item">
									<span class="exp__yearLine"></span>
									<span class="exp__year">2019 - CURRENT</span>
									<i class="exp__location">PT Paragon Pratama Teknologi (StickEarn)</i>
									<h4 class="exp__position">WEB DEVELOPER</h4>
									<p class="exp__summary">Responsible for slicing mockups from UI/UX to implement in website and handle request from all internal departments such as: HR, Marketing.</p>
									<ul class="exp__list">
										<li class="exp__listItem">Collaborate with UI/UX team to implement design considering on web performance</li>
										<li class="exp__listItem">Integrating to 3rd party apps API's such as CRM, Recruitment, Marketing Tools</li>
										<li class="exp__listItem">Optimize web performance using best practice.</li>
										<li class="exp__listItem">Maintenance existing projects.</li>
									</ul>
								</div>
								<div class="exp__item">
									<span class="exp__yearLine"></span>
									<span class="exp__year">2017 - 2019</span>
									<i class="exp__location">PT Dotcom Indonesia</i>
									<h4 class="exp__position">JUNIOR WEB DEVELOPER</h4>
									<p class="exp__summary">Responsible for designing, coding and modifying website according to the client specifications.</p>
									<ul class="exp__list">
										<li class="exp__listItem">Develop custom web application</li>
										<li class="exp__listItem">Collaborate with design and sales team to find solutions for client website projects.</li>
										<li class="exp__listItem">Contribute to support current or existing clientwebsites.</li>
										<li class="exp__listItem">Create documentation for project clients.</li>
									</ul>
								</div>
								<div class="exp__item">
									<span class="exp__yearLine"></span>
									<span class="exp__year">2009 - 2017</span>
									<i class="exp__location">PT Wahana Inti Utama (United Bike)</i>
									<h4 class="exp__position">SALES SHOWROOM</h4>
									<p class="exp__summary">Ensure customer to find what they need and give the consultation.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="content__right">
						<div class="sidebar">
							<div class="sidebar__item">
								<h3 class="sidebar__title">CONTACT</h3>
								<a class="sidebar__contact-email" href="mailto:harun_al_rashyid@yahoo.co.id">harun_al_rashyid@yahoo.co.id</a>
								<a class="sidebar__contact-phone" href="//wa/me/085770080413">0857 7998 9413</a>		
								<a class="sidebar__contact-website" href="//stickearn.com">https://stickearn.com</a>
								<p class="sidebar__contact-location">Jln Laksana B3 No.62, Sawah Besar. Jakarta Pusat</p>
							</div>
							<div class="sidebar__item">
								<h3 class="sidebar__title">EDUCATION</h3>
								<div class="sidebar__education">
									<small class="sidebar__education-year">2012 - Semester 8</small>
									<i class="sidebar__education-major">I.T</i>
									<p class="sidebar__education-place">STMIK Muhammadiyah Jakarta</p>
								</div>
								<div class="sidebar__education">
									<small class="sidebar__education-year">2006 - 2008</small>
									<i class="sidebar__education-major">Senior High School in Social</i>
									<p class="sidebar__education-place">SMAN 20 Jakarta</p>
								</div>
							</div>
							<div class="sidebar__item">
								<h3 class="sidebar__title">SKILLS</h3>
								<ul class="sidebar__skills">
									<li class="sidebar__skills-item">HTML</li>
									<li class="sidebar__skills-item">CSS / SCSS</li>
									<li class="sidebar__skills-item">Javascripts</li>
									<li class="sidebar__skills-item">ReactJs</li>
									<li class="sidebar__skills-item">PHP</li>
									<li class="sidebar__skills-item">Mysql</li>
									<li class="sidebar__skills-item">PhotoShop</li>
									<li class="sidebar__skills-item">Illustrator</li>
									<li class="sidebar__skills-item">Figma</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>

